* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    background-color:rgba(255,255, 255, 0.8);
    border-bottom: 3px solid #fc5d02;
    padding-top: 1%;
    
}

.lugar_img{
    grid-column-start: 2;
    grid-column-end: 4;
    margin-bottom: 20px;
    width: 160px;
}

.tamanho_logo{
    width: 60%;
    margin-left: 6%;
}


.tamanho_pesquisa{
    grid-column-start: 4;
    grid-column-end: 10;
    margin-right: 7%;
    border-top-color:#6a886e;
}

#txtBusca{
    width: 90%;
    height: 40%;
    font-size:medium;
    border-radius: 5px;
    border: 2px solid #fc5d02; 
    margin-top: 3%;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    padding-left: 8px;
}

#txtBusca:focus {
    border: 2px solid #fc5d02;
    outline: none;
    background-image: url();
}

.tamanho_link{
    grid-column-start: 10;
    grid-column-end: 12;
    display: flex;
    flex-direction: row;
    gap: 30%;
    margin-left: 10%;
    margin-top: 8%;  
}

.tamanho_img {
    cursor: pointer;
    width: 90%;
}

.itens_dropdown{
    background-color: white;
    font-family:'Montserrat', sans-serif; 
    position: absolute;
    display: none;
    text-align: center;
    justify-content: center;
    width: 13%;
    margin-top: 4%;
    margin-left: 10%;
    box-shadow: 5px 5px 38px 0px rgba(18, 32, 17, 0.2);
    border-radius: 10px; 
}

li {
    margin-bottom: 20px;
    border-bottom: 1px solid #999;

}

.list {
    list-style: none;
}

.lupa {
   position: absolute;
   margin-left: 42%;
    margin-bottom: 20px;
    
    
}