* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    background-image: url('../images/background.png');
    box-shadow: 0px 8px 16px 0px rgba(59, 185, 86, 0.2); 
    padding-top: 10px;
    padding-bottom: 10px;
}

.lugar_img {
    grid-column-start: 2;
    grid-column-end: 4;
    width: 160px;
    justify-content: center;
    align-items: center;
}

.tamanho_logo{
    width: 60%;
    margin-left: 6%;
}


.tamanho_pesquisa{
    grid-column-start: 4;
    grid-column-end: 10;
    margin-right: 7%;
    border-top-color:#6a886e;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.search-form {
    width: 90%;
    height: 52%;
    border-bottom: 2px solid #fc5d02;
    display: grid;
    grid-template-columns: repeat(12, fr1);
}

.search-form:focus-within {
    border: 2px solid #fc5d02;
    border-radius: 5px;
}

#txtBusca{
    background: none;
    grid-column-start: 1;
    grid-column-end: 12;
    height: 100%;
    width: 100%;
    font-size:medium;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    padding-left: 8px;
    margin-right: -30%;
}

.lupa {
    grid-column-start: 12;
    grid-column-end: 13;
    margin-left: 30%;
    text-align: center;
    background: none;
    border: none;
    outline: none;
}

#txtBusca:focus + .lupa {
    background-color: #fc5d02;
    cursor: pointer;
}

#txtBusca:focus + .lupa .stroke-lens {
    stroke: #fff;
}

.tamanho_link{
    grid-column-start: 10;
    grid-column-end: 12;
    gap: 15%;
    margin-left: 10%;
    margin-top: 8%;  
    position: relative;
    display: flex;
}

.tamanho_img {
    cursor: pointer;
    width: 70%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  
.dropdown-link, .dropdown-username {
    padding: 12px 16px;
    display: block;
}
  
.dropdown-link {
    color: #fc5d02;
    text-decoration: none;
}

.dropdown-link:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}
