body {
    font-family: "Montserrat", sans-serif;
    background-color: #EDFFD6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 100px;
}

.orders-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.menu {
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.content {
    grid-column-start: 6;
    grid-column-end: 12;
}

.form-public-info {
    display: flex;
    flex-direction: column;
}

.main-title {
    color: #FF6600;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}

.title {
    color: #45A351;
    margin-bottom: 5px;
    font-weight: bold;
}

.products-container {
    grid-column-start: 5;
    grid-column-end: 12;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
}

.grid-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #999;
    cursor: pointer;
}

.item-container {
    margin: 4%;
    text-align: center;
}

.img-container {
    width: 100%;
    height: 45%;
}

.img-item {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seller a {
    font-size: 14px;
    color: #45A351;
}

.seller a:hover {
    text-decoration: underline;
}

.title {
    font-size: 16px;
    color: #fc5d02;
}

.price {
    font-size: 20px;
}

.sales {
    font-size: 14px;
    color: #4A4544;
}

.date {
    font-size: 12px;
    font-weight: bold;
}