* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.nome_header{
    color: orangered;
    font-family:'Montserrat', sans-serif; 
    font-size:small;
    margin-left: 38%;
    margin-top: 10%;
}

.container1{
    margin-left: 25%;
    padding-top: 3%;
    
}

.container2 {
    margin-left: 50%;
    margin-top: -17%;
  }

.product_img img{
   width: 30%;
}

.product_edit{
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
}

.product_edit label{
    font-family: 'Montserrat', sans-serif;
}

.product_edit input{
    width: 30%;
}

.button{
    width: 30%;
}