body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 100px;
}

.main-container {
    margin: auto;
    margin-top: 5%;
    width: 80vw;
    margin-bottom: 3%;
}

.product-container {
    width: 100%;
    background-color: #edffd6;
    box-shadow: 0 4px 8px 0 #999;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.carousel {
    grid-column-start: 1;
    grid-column-end: 8;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.imgs-product {
    grid-column-start: 2;
    grid-column-end: 12;
    margin-top: 10%;
    margin-bottom: 10%;
}

.item-carousel {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.item-carousel:not(:first-child) {
    display: none;
}

.previous, .next {
    margin: auto;
    cursor: pointer;
}

.data-product {
    grid-column-start: 8;
    grid-column-end: 13;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.data-grid {
    margin: auto;
    grid-column-start: 2;
    grid-column-end: 10;
}

.heart {
    margin: auto;
    grid-column-start: 10;
    grid-column-end: 12;
    cursor: pointer;
}

.product-title {
    font-size: 40px;
    font-weight: bold;
    color: #fc5d02;
    margin-bottom: 2px;
}

.seller {
    font-size: 14px;
    margin-top: 5px;
}

.seller a {
    color: #45A351;
}

.seller a:hover {
    text-decoration: underline;
}

.price-container {
    margin-top: 5px;
}

.coin {
    vertical-align: top;
}

.price {
    font-size: 50px;
}

.evaluations {
    display: flex;
    gap: 5px;
    vertical-align: center;
}

.payment {
    margin-top: 10px;
    margin-bottom: 10px;
}

.payment-link, .promotions-link, .evaluations-link {
    color: #fc5d02;
}

.payment-link:hover, .promotions-link:hover, .evaluations-link:hover {
    text-decoration: underline;
}

.add-cart, .buy-now {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.add-cart {
    background-color: #45a351;
}

.add-cart:hover {
    background-color: #2f893b;
}

.buy-now {
    background-color: #2c7736;
}

.buy-now:hover {
    background-color: #134119;
}

.btn-diau {
    background-color: #ff6600;
    border-radius: 2px;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.amount {
    margin-left: 10px;
    margin-right: 10px;
}

.err {
    color: red;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description-container, .evaluation-add-container {
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 #999;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.description-title, .evaluate-title, .evaluations-title {
    font-size: 18px;
    font-weight: bold;
    color: #fc5d02;
    margin-bottom: 10px;
}

.stars {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.rating {
    display: flex;
    gap: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
}

.rating-range {
    -webkit-appearance: none;
    background-color: silver;
    width: 25%;
    height: 10px;
}

.rating-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ff6600;
    width: 10px;
    height: 15px;
}

.insert-comment {
    resize: none;
    width: 100%;
    height: 100px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    overflow-wrap: break-word; 
    word-break: break-all;
}

.insert-comment:focus {
    outline: none;
    border: 1px solid #FF6600;
}

.btn-save-comment-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-save-comment {
    width: 15%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2C7736;
    cursor: pointer;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.btn-save-comment:hover {
    background-color: #134119;
}

.required {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.evaluations-container {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 #999;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.evaluation-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 1px solid #999;
    margin-top: 20px;
    padding-bottom: 20px;
}

.evaluation-container:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.author-image-container {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

.author-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
}

.evaluation {
    grid-column-start: 2;
    grid-column-end: 12;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.author-name {
    font-size: 14px;
    font-weight: bold;
}

.evaluation-date {
    color: #595858;
    font-size: 15px;
}

.product-stars {
    display: flex;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.comment {
    margin-top: 5px;
    margin-bottom: 5px;
}

.actions-container {
    grid-column-start: 12;
    grid-column-end: 13;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.edit-btn, .delete-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
}

.edit-btn {
    color: #1cb91c;
}

.edit-btn:hover {
    color: #096109;
    font-size: 18px;
}

.delete-btn {
    color: red;
}

.delete-btn:hover {
    color: #650303;
    font-size: 18px;
}

.comment-characters {
    text-align: right;
    font-size: 15px;
    font-weight: normal;
}
