* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.nome_header{
    color: #928f8f;
    font-family:'Montserrat', sans-serif; 
    font-size:small;
    margin-left: 38%;
    margin-top: 10%;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    margin-top: 3%;
    margin-left: 22%;
    width: 55%;
    box-shadow: 5px 5px 38px 0px rgba(0, 0, 0, 72);
    border-radius: 15px; 
  }

.product_img img{
    border-radius: 10px;
}

.product_edit{
    display: flex;
    flex-direction: column;
    margin-bottom: 15%;
}

.product_edit label{
    padding-top: 10%;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    color:#5a5757;
}

.product_edit input{
    padding-top: 3%;
    border-radius: 10px;
    border-color: rgb(100, 156, 83);
    background-color:white;
    cursor: pointer;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    padding-left: 5%;
}

.button{
    margin-top: 15%;
    border-color: rgb(100, 156, 83);
    border-radius: 5px; 
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size : medium;
    font-weight: 700;
    color:#5a5757 ;
    background-color: white;
}