* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(../images/background.png);
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.Container_all{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.Container_header{
    background-color: rgba(255, 255, 255, 0.72);
    height: 104%;   
    padding-top: 1%;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4.38188px 2.92125px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.img_header img{
    width: 80%;
    border-radius: 10px;
    margin-left: 9%;
    padding-top: 5%;
}

.grup_unfollow{
    margin-left: 14%;
    margin-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
}

.img_unfollow{
    height: 20%;
    margin-top: 4%;
    padding-right: 3%;
}

.text_unfollow{
    color: green;
    font-size: medium;
    margin-top: 6%;
}

.textarea{
    margin-left: 5%;
    width: 90%;
    border-color: 1px solid #b4b4b4;
    cursor: pointer;
    
}

.textarea:focus{
    outline: none;
    border: 1px solid #FF6600;
}

.title_text{
    color: green;
    font-size: medium;
    padding-top: 7%;
    margin-left: 5%;
}

.quest_seller{
margin-top: 10%;
}

.quest_seller a{
    margin-left: 13%;
    color: green;
    font-size: medium;
}

.button{
width: 53%;
height: 35px;
margin-left: 23%;
margin-top: 4%;
border: none;
border-radius: 5px;
background-color: #2C7736;
cursor: pointer;
color: white;
font-family: 'Montserrat', sans-serif;
}

.button:hover {
    background-color: #45A351;
    }

.name_left{
    margin-left: 33%;
    color: green;
    font-size: medium;
}