body {
    font-family: "Montserrat", sans-serif;
    background-image: url(../images/background.png);
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}

.public-info-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.menu {
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.content {
    grid-column-start: 6;
    grid-column-end: 11;
}

.form-public-info {
    display: flex;
    flex-direction: column;
}

.main-title {
    color: #FF6600;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}

.title {
    color: #45A351;
    margin-bottom: 5px;
    font-weight: bold;
}

.field, .field-description {
    margin-bottom: 10px;
    font-size: 15px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    padding: 5px;
}

.field, .field-description {
    height: 30px;
}

.field-description {
    resize: none;
}

.field:focus, .field-description:focus {
    outline: none;
    border: 1px solid #FF6600;
}

.field-description:focus {
    height: 200px;
}

.btn {
    width: 33%;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2C7736;
    cursor: pointer;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.btn:hover {
    background-color: #45A351;
}

.img-upload {
    margin-top: 30px;
    height: 100px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-img {
    margin:0;
    cursor: pointer;
}

.file-input {
    display: none;
}

.btn-upload {
    width: 100px;
    height: 100px;
    pointer-events: none;
    background-color: #edffd6;
    /* background-image: url("../images/user_default_photo.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
}

#img-path, #preview, .btn-submit-img, .btn-cancel-update {
    display: none;
}

.btn-submit-img {
    height: 30px;
    padding: 0 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2C7736;
    cursor: pointer;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.btn-submit-img:hover {
    background-color: #45A351;
}

.btn-cancel-update {
    height: 30px;
    padding: 0 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
    color: white;
    font-family: "Montserrat", sans-serif;
    display: none;
}

.btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}