* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(../images/background.png);
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}

.Container_grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 4%;
}

.Container{
    grid-column-start: 6;
    grid-column-end: 12;
    background-color: rgba(255, 255, 255, 0.72);
    margin-top: 3%;
    border-radius: 15px;
    height: 100%;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5%;
}

.btn-carousel {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.nameh1_form{
    grid-column-start: 6;
    grid-column-end: 12;
    margin-top: 5%;
    margin-left: 30%;
  color: #FF6600;
}

.choice{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

.choice label{
    color: green;
    font-weight: 600;
    margin-left: 5%;
}

.choice input{
    width: 90%;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
    color: #6e6d6d;
    padding-left: 1%;
    padding-bottom: 5px;
    padding-top: 5px;
}

.choice input:focus{
    outline: none;
    border: 1px solid #FF6600;
}

.images-upload {
    display: flex;
    justify-content: start;
    align-items: center;
}

.category{
    width: 90%;
    height: 30px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    margin-left: 5%;
    color: #6e6d6d;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1%;

}

.category:focus{
    outline: none;
    border: 1px solid #FF6600;
}

.button{
    margin-left: 19%;
    width: 60%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #2C7736;
    cursor: pointer;
    color: white;
}

.button:hover{
    background-color: #45A351;
}

.Container_grid2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.max-10 {
    font-weight: normal;
    color: black;
}

.required {
    color: red;
}