* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
font-family: "Montserrat", sans-serif;
background-image: url(../images/background.png);
font-family: 'Montserrat', sans-serif;
margin-top: 100px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

.public-info-container {
display: grid;
grid-template-columns: repeat(12, 1fr);
}

.menu {
grid-column-start: 2;
grid-column-end: 5;
display: flex;
flex-direction: row;
margin-top: 40px;
}

.content {
grid-column-start: 6;
grid-column-end: 11;
margin-top: 4%;
}

.form-public-info {
display: flex;
flex-direction: column;
}

.main-title {
color: #FF6600;
text-align: center;
margin-bottom: 20px;
font-size: 25px;
}

.title {
color: #45A351;
margin-bottom: 5px;
font-weight: bold;
display: flex;
flex-direction: column;
}

.field {
margin-bottom: 10px;
font-size: 15px;
border: 1px solid #b4b4b4;
border-radius: 5px;
padding: 5px;
height: 30px;
width: 120%;
}

.field-description {
    resize: none;
}

.field:focus:focus {
    outline: none;
    border: 1px solid #FF6600;
}

.btn {
width: 33%;
height: 30px;
margin: auto;
margin-top: 10px;
margin-bottom: 5%;
margin-left: 35%;
border: none;
border-radius: 5px;
background-color: #2C7736;
cursor: pointer;
color: white;
font-family: 'Montserrat', sans-serif;
}

.btn:hover {
background-color: #45A351;
}

.sucesso{
    margin-left: 34%;
    color: #2C7736;
}

.erro{
    margin-left: 35%;
    color: red;
}
