* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(../images/background.png);
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}

.Container_grid2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.Container_2{
    grid-column-start: 2;
    grid-column-end: 12;
    margin-top: 4%;
    margin-left: -7%;
}

.name_container2{
    text-align: center;
    margin-top: -2%;
    margin-left: 37%;
    color:  #FF6600;
    font-family: 'Montserrat', sans-serif;
}

.namee_container2{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 4%;
    margin-left: 37%;
    font-weight: 600;
    color:  green;
    font-family: 'Montserrat', sans-serif;
}

.table, th, td{
    border: 1px solid rgb(196, 190, 190);
    border-radius: 5px; 
}

th, td{
}

th{
    height: 35px;
    background-color: rgb(62, 110, 62);
}

.tl_container2{
    margin-left: 38%;
    margin-top: -2%;
}

.cont_top{
color: white;
font-weight: 100;
font-size: medium;
}

.cont_left{
    background-color: white;
}

input{
    border: none;
    width:200px;
    height: 30px;
    color: rgb(76, 80, 80);
    font-size: small;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
   text-overflow: ellipsis;
}

input:focus{
    outline: none;
    border: 2px solid #FF6600;
    border-radius: 5px;
}

.cont_center{
   background-color: white;
}

.cont_center a{
    color: rgb(99, 109, 109);
    
}

table th{
    color: green;
}

table td{
    color: rgb(84, 87, 87);
    font-weight: 600;
}

.green{
    color: green;
    width: 45%;
    margin-left: 23px;
}

.mine-trash{
    width: 50%;
    margin-left: 15px;
}

.tamanho_lixin{
    background-color: white;
    width: 5%;
}